.footer {
  background-color: var(--footer-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.footer-left {
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-logo {
  font-family: var(--Raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.footer-adr {
  font-style: normal;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-item {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.map-link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.footer-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.footer-phone {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.footer-logo-help {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}
.footer-input {
  outline: none;
  display: block;
  margin-top: 20px;
  margin-right: 12px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
}
.footer-icon {
  margin-left: 10px;
}
