.header {
  border-bottom: 1px solid #ececec;
}
.portfolio-header-link {
  color: var(--hover-link-color);
}
.navigation__list {
  display: none;
  column-gap: 50px;
  @include tablet {
    display: flex;
    margin-left: 88px;
  }
  @include desktop {
    display: flex;
    margin-left: 93px;
  }
}
.icon {
  margin-right: 10px;
  fill: currentColor;
}
.navigation__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.navigation__link {
  text-decoration: none;
  color: var(--header-link-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.contacts {
  display: none;
  gap: 10px;
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}
.link {
  color: var(--hover-link-color);
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.mail__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.phone__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.mobile-menu-open {
  color: #212121;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-menu-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-menu__icon {
  fill: currentColor;
}
.mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 5px;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 48px;
  padding-bottom: 48px;
  &.is-hidden {
    transform: translate(-50%, -50%) scale(0);
  }
  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}
.menu-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.menu-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.02em;
}
.menu-nav__link {
  text-decoration: none;
  color: #212121;
}

.menu-contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
  list-style-type: none;
}
.menu-contact-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.menu-contact-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}
.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.menu-social-item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border: none;
  }
}
.menu__link-color {
  color: var(--first-text-color);
}
.menu-close {
  fill: currentColor;
}
