.header {
  border-bottom: 1px solid #ececec;
}
.portfolio-header-link {
  color: var(--hover-link-color);
}
.navigation__list {
  display: none;
  column-gap: 50px;
  @include tablet {
    display: flex;
    margin-left: 88px;
  }
  @include desktop {
    display: flex;
    margin-left: 93px;
  }
}
.icon {
  margin-right: 10px;
  fill: currentColor;
}
.navigation__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.navigation__link {
  text-decoration: none;
  color: var(--header-link-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.contacts {
  display: none;
  gap: 10px;
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}
.link {
  color: var(--hover-link-color);
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.mail__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.phone__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-link-color);
  }
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  position: relative;
  fill: #000000;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.menu-icon {
  fill: currentColor;
  position: absolute;
}
.menu-link:hover {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
