.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg-mob.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg-tab.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  margin: auto;
  width: 100%;
  padding: 118px 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobile {
    max-width: 100%;
  }
  @include tablet {
    max-width: 100%;
    padding: 118px 204px;
  }
  @include desktop {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__subject {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffff;
  text-align: center;
  margin: auto;
  @include mobile {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
  @include tablet {
  }
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
