.hero {
  background-color: var(--hero-background);
  margin: auto;
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg-mob.jpg);
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-mob-2x.jpg);
  }
  @include tablet {
    max-width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-tab.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg-tab-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg-2x.jpg);
    }
  }
}
.hero__subject {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.61em;
  color: #ffff;
  text-align: center;
  margin: auto;
  @include mobile {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
