.button {
  border: 0;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.portfolio-nav-btn {
  border: 0;
  background: var(--portfolio-btn-color);
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--portfolio-btn-hover-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.sub-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: 0;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
