.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.599);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  background-color: #ffffff;
  border-radius: 4px;
  width: calc(100% - 30px);
  height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 528px;
  }
}
.modal-close {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.back-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close:hover .back-icon {
  fill: #2196f3;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}
.modal-input:focus + .modal-icon {
  fill: #188ce8;
}
.modal-label,
.modal-form {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.01em;
  position: relative;
  display: block;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}
.modal-field {
  margin-bottom: 10px;
  position: relative;
}
.modal-label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
.modal-link {
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  padding-left: 4px;
  @include mobile {
    font-size: 12px;
    line-height: 1.16;
  }

  @include tablet {
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  visibility: visible;
}
.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  margin-right: 7px;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-text {
  font-weight: 400;
  color: #757575;
  margin-left: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mobile {
    font-size: 12px;
    line-height: 1.16;
  }
  @include tablet {
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.check-icon {
  opacity: 0;
}

.modal-check:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.modal-check:focus + .check-text span {
  border-color: #2196f3;
}

.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
  opacity: 1;
}
