:root {
  --secondary-text-color: #757575;
  --hover-link-color: #2196f3;
  --main-text-color: #212121;
  --header-link-color: #212121;
  --hero-background: #2f303a;
  --portfolio-btn-color: #f5f4fa;
  --portfolio-btn-hover-color: #2196f3;
  --footer-back-color: #2f303a;
  --Roboto: "Roboto", sans-serif;
  --Raleway: "Raleway", sans-serif;
}
